[submodule "deps/open62541"]
	path = deps/open62541
	url = https://github.com/open62541/open62541.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/open62541Cpp"]
	path = deps/open62541Cpp
	url = https://github.com/umati/open62541Cpp.git
[submodule "deps/refl-cpp"]
	path = deps/refl-cpp
	url = https://github.com/veselink1/refl-cpp.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/libressl/portable"]
	path = deps/libressl/portable
	url = https://github.com/libressl-portable/portable.git
